VITE_FIREBASE_API_KEY=AIzaSyBG3KK66MMxeG4r938tIjldzIfzfhnSY8s
VITE_FIREBASE_AUTH_DOMAIN=vespucci-beach-tuners.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vespucci-beach-tuners
VITE_FIREBASE_STORAGE_BUCKET=vespucci-beach-tuners.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=625619115859
VITE_FIREBASE_APP_ID=1:625619115859:web:ca483d44bc66b6cd23cba6

VITE_CLOUDINARY_CLOUD_NAME=vzfpwybg
VITE_CLOUDINARY_UPLOAD_PRESET=vespucci_upload
